/Java/Web_Applic_Reservation/nbproject/private/
/Java/Web_Applic_Reservation/build/
/Java/Web_Applic_Reservation/dist/
/IMI
/SGBD
/Sys. Dis
/Traitement d'image
/Java/BeanBDAcess/nbproject/private/
/Java/BeanBDAcess/build/
/Java/Web_Applic_Reservations/nbproject/private/
/Java/LoginApplet/nbproject/private/
/Java/LoginApplet/build/
/Java/LoginApplet/dist/
/Java/BeanBDAcess/dist/
/Java/Web_Applic_Reservations/build/
/Java/Web_Applic_Reservations/dist/