<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_2_0.xsd">
  <persistence-unit name="Chess-ejbPU" transaction-type="JTA">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <jta-data-source>Chess</jta-data-source>
    <class>Entity.Cavalier</class>
    <class>Entity.Echiquier</class>
    <class>Entity.Fou</class>
    <class>Entity.Joueur</class>
    <class>Entity.Piece</class>
    <class>Entity.Pion</class>
    <class>Entity.Reine</class>
    <class>Entity.Roi</class>
    <class>Entity.Tour</class>
    <exclude-unlisted-classes>true</exclude-unlisted-classes>
    <properties>
      <property name="eclipselink.ddl-generation" value="drop-and-create-tables"/>
    </properties>
  </persistence-unit>
</persistence>
